*, *::before, *:after {
  box-sizing: border-box;
}

body {
  font-family: SF Pro Display;
  color: #182026;
  background-image: url('../css/image-1.jpeg');
  background-size: contain;
  width: 100%;
}

.status-bar {
  margin-top: -7px;
}

.nav-bar {
  text-align: center;
  background-color: #F5F8FA;
  height: 64px;
  /* width: 100%; */
  padding-right: 35px;
}

.back-arrow {
  float: left;
  padding-top: 21px;
  padding-left: 9px;
}

.search {
  margin-left: 95%;
  padding-right: 16px;
}

.nav-bar, h1 {
  font-size: 17px;
  padding-top: 10px;
}

.bus-station {
  background-color: #F5F8FA;
  /* margin: 0 auto; */
  margin-bottom: -8px;
  /* width: 100%; */
}

h2 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

td.line {
  font-size: 13px;
  background-color: #137CBD;
  color: #F5F8FA;
  font-weight: bold;
  padding: 6px 5px 6px 5px;
  border-radius: 3px;
  text-align: center;
  width: 10%;
  height: 20px;
}

td.time {
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}

td.destination {
  font-size: 14px;
  text-align: left;
}

td.arrival {
  font-size: 14px;
  text-align: right;
  padding-right: 2px;
  font-weight: bold;
}

td.arrow {
  text-align: right;
  padding-top: 5px;
}

table {
  padding: 10px 10px 10px 10px;
  width: 100%;
}

hr {
  color: #BFCCD6;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .nav-bar {
    margin: -21px 0px 318px -8px;
  }
}

@media screen and (min-width: 375px) {
  .bus-station {
    margin: 0 6px 0 -8px;
  }
}
